extends ./layout.jade

block content

 form(action='/createPoll', method='post')
 
      .form-group
      
        label#questions Question
         input.form-control(type='text', name='question')
         
        label Choices
         input#origChoice.choices.form-control(type='text', name='clone')
         input.choices.form-control(type='text', name='choice')
         input.choice.form-control(type='text', name='choice')
         div#newChoicePos
         
        #addOpt.btn.btn-info.btn-lg(type='button') Add Option
       button.btn.btn-success.btn-lg(type='submit') Submit
      