@font-face {
    font-family: Alpha54;
    src: url(Alpha54.ttf);
}

html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body{
    background-color : #D7FEFD;
    height : 100%;
}

#jumbo1{
    text-align: center;
    background-color : #B0E2F7;
    color : white;
    text-shadow: 1px 1px #000;
    margin : 0px 0px 0px 0px;
}

.navbar-brand{
    font-size: 250%;
}

.navbar-default .navbar-brand {
    color: #15A252;
    font-family: Alpha54;
    font-weight : lighter;
}


.navbar-default .navbar-brand:hover {
    color: #087736;
}


 .navbar-default{
    background-color : #E5F9F9;
}

#jumbo2{
    background-color: #04979F;
    margin : auto;
    text-align: center;
    color : white;
    text-shadow: 1px 1px #000;
}

.polls > h1{
    font-size : 63px;
}

.polls > p{
    font-size : 21px;
    font-weight : 200;
}



.footer{
    width : 100%;
    height : 100%;
    position: relative;
    bottom : -25vh;
    text-align : center;
}

 .navbar-default .navbar-nav > .active{
   background: #D5DBDB;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      background: #D5DBDB;
 }
 
 form{
     width : 500px;
     margin : auto;
     max-width : 90%;
 }

.btn{
    margin-left : 2px;
    margin-right : 2px;
}
 
#publicPolls {
    text-shadow: 1px 1px #000;
}

#questions {
    width : 100%;
}

.choices{
    margin-bottom : 5px;
}

#newChoicePos{
    margin-top : 5px;
}

#origChoice{
    display : none;
}


#pollList{
    margin-top : 5px;
    text-shadow: 0px 0px #000;
    font-weight : bold;
    width : 75%;
    margin-left : auto;
    margin-right : auto;
}

#createBtn{
    width : 500px;
    max-width : 75%;
    margin-left: auto;
    margin-right : auto;
    margin-bottom : 10px;
}

.indexBtn{
    margin-bottom : 5px;
}

#pollJumbo{
    background-color: #04979F;
    margin : auto;
    text-align: center;
    color : white;
    text-shadow: 1px 1px #000;
}

#pollQuestion{
    font-size : 300%;
}

.choiceText{
    text-shadow: 0px 0px #000;
    font-weight: bold;
    color : black;
    margin-left : auto;
    margin-right : auto;
    width : 75%;
}

#choiceList{
    width : 75%;
    margin-left : auto;
    margin-right : auto;
}

.myChart{
    width : 500px;
    max-width : 80%;
    margin-left : auto;
    margin-right : auto;
    color : white;
}

#twitterBtn{
    margin : 10px auto 5px auto;
    text-shadow: 0px 0px #000;
    font-weight: bold;
}

#myPoll{
    font-weight : bold;
    padding-bottom : 0.75%;
}

#newChoice{
    margin-top : 5px;
    width : 75%;
    margin-left : auto;
    margin-right : auto;
}