@font-face {
    font-family: Alpha54;
    src: url(Alpha54.ttf);
}

body{
    overflow : hidden;
    background-color : #D7FEFD;
}

.jumbotron{
    text-align: center;
    background-color : #B0E2F7;
    color : white;
    text-shadow: 1px 1px #000;
}

.navbar-brand{
    font-size: 250%;
}

.navbar-default .navbar-brand {
    color: #15A252;
    font-family: Alpha54;
    font-weight : lighter;
}


.navbar-default .navbar-brand:hover {
    color: #087736;
}

.signup-box{
    max-width : 75%;
    width : 500px;
    height : 600px;
    max-height : 75%;
    background-color : #F7F7F7;
    border : 2px solid #939393;
    box-shadow : 0px 0px 5px #000;
    margin : 70vmax auto auto auto;
    text-align : center;
    border-radius : 3%;
    position : relative;
    overflow-y: hidden;
    display : block;
}

.sign-text{
    margin: auto;
}

 .navbar-default{
    background-color : #E5F9F9;
}